.nav{
    display: flex;
    background: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 2px solid orange;
    z-index: 1;
}

.nav p{
    margin: auto;
    padding: 14px;
    font-size: 28px;
    font-family: monospace;
    font-weight: bold;
}